

  

<form  #loginForm="ngForm"  >

  <img src="../../../assets/images/RBI.png" alt="No Image found">
  <mat-form-field>
      <input [(ngModel)]="userid" name="userid" required matInput placeholder="UserId">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="username" name="username" required matInput placeholder="User Name">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="password" name="password" type="password" required matInput placeholder="Password">
      </mat-form-field>
      <mat-form-field>
          <input [(ngModel)]="confirmpass" name="confirmpass" type="password" required matInput placeholder="Confirm Password">
      </mat-form-field>
      <button type="submit" [disabled]="!loginForm.valid" (click)="onClick()"  mat-raised-button color="primary">Sign up</button>
      <!-- <button mat-stroked-button color="accent" (click)="onNoClick()">Registered? Login</button> -->


</form>

