<div class="container-fluid">

  <div class="row" id="charts">

    <div class="col-md-12">
      <mat-card class="shadow">
        <h2>Customers List</h2>

        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="cust_id">
                <th mat-header-cell *matHeaderCellDef> Cust id. </th>
                <td mat-cell *matCellDef="let element"> {{element.cust_id}} </td>
              </ng-container> -->

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="cust_name">
                <th mat-header-cell *matHeaderCellDef> Cust Name </th>
                <td mat-cell *matCellDef="let element"> {{element.cust_name}} </td>
              </ng-container> -->

        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="cust_acno">
                <th mat-header-cell *matHeaderCellDef> Cust Acno </th>
                <td mat-cell *matCellDef="let element"> {{element.cust_acno}} </td>
              </ng-container> -->

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="cust_ip">
                <th mat-header-cell *matHeaderCellDef> Cust Ip </th>
                <td mat-cell *matCellDef="let element"> {{element.cust_ip}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        <table *ngIf="scanList">
          <tr>
            <th>Cust id</th>
            <th>Cust Name</th>
            <th>Cust Acno</th>
            <th>Cust Ip</th>

          </tr>
          <tr *ngFor="let customer of scanList">
            <td>{{customer.cust_id}}</td>
            <td>{{customer.cus_name}}</td>
            <td>{{customer.cus_accountno}}</td>
            <td>{{customer.cus_ip}}</td>
          </tr>
        </table>
      </mat-card>

    </div>

    <!-- <div class="col-md-6">
        <mat-card class="shadow">
          <h2>Hackers List</h2>
          <table mat-table [dataSource]="neddatasource" class="mat-elevation-z8">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Cust id. </th>
                <td mat-cell *matCellDef="let hck"> {{hck.id}} </td>
              </ng-container>
            
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Cust Name </th>
                <td mat-cell *matCellDef="let hck"> {{hck.name}} </td>
              </ng-container>
            
              <ng-container matColumnDef="acno">
                <th mat-header-cell *matHeaderCellDef> Cust Acno </th>
                <td mat-cell *matCellDef="let hck"> {{hck.acno}} </td>
              </ng-container>
            
              <ng-container matColumnDef="hacker_ip">
                <th mat-header-cell *matHeaderCellDef> Hacker Ip </th>
                <td mat-cell *matCellDef="let hck"> {{hck.hacker_ip}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
      </div> -->

  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <button mat-raised-button class="col-md-12" color="primary" (click)="formClear()">Hacker List</button>
    </div>

    <div class="col-md-6">
      <button mat-raised-button class="col-md-12" color="primary" [routerLink]="['/admin']">Logout</button>
    </div>
  </div>

</div>