

  

<form  #loginForm="ngForm"  >

  <mat-form-field>
      <input [(ngModel)]="userid"  name="userid" required matInput placeholder="User Id">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="cust_pin" name="cust_pin" required matInput placeholder="User Pin">
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="ipaddress" name="custip"  required matInput placeholder="User Ip address">
      </mat-form-field>
      <button type="submit" [disabled]="!loginForm.valid" (click)="onClick()"  mat-raised-button color="primary">Hack Account</button>
      <!-- <button mat-stroked-button color="accent" (click)="onNoClick()">Registered? Login</button> -->
</form>

